/*-- scss:defaults --*/

$theme-UKDS: #742082;
$body-color: $theme-UKDS;
$font-family-sans-serif: 'Arial', Arial, sans-serif;
$presentation-font-size-root: 30px;
$custom-col:  #742082;

/*-- scss:rules --*/

.reveal section h1 {
  color: $custom-col;
}

.reveal section h2 {
  color: $custom-col;
}

.reveal section h3 {
  color: $custom-col;
}

.reveal section h4 {
  color: $custom-col;
}

.reveal-header .header-logo {
  height: unset !important;
  width: 200px !important;
  max-width: unset !important;
  max-height: unset !important;
}
